__pycache__/
*.py[cod]
*.so

.venv/
venv/
env/
ENV/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.cache/

.ipynb_checkpoints/
notebook/
*.ipynb

logs/
*.log

.git/
.gitignore
.DS_Store
.idea/
.vscode/

artifact/
build/
dist/
*.egg-info/

.env
.env.*
*.pem
*.key
